.hero {
    height: 100vh;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    position: relative;
  }
  
  .hero h1 {
    font-size: 3rem;
    color: white;

  }
  
  .hero p {
    color: #94a3b8;
  }
  

  
  /* Floating circle */
  .circle {
    width: 150px;
    height: 150px;
    background: #38bdf8;
    border-radius: 50%;
    position: absolute;
    bottom: 50px;
    right: 50px;
    opacity: 0.3;
  }